# WASM optimization
wasm/*/src/
wasm/*/target/
wasm/*/Cargo.*
!wasm/*/pkg/

node_modules
frontend/node_modules
output
cookies
.git
.cache
.queue
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.local
data
generated
logs
