services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=xrcrawler
    volumes:
      - postgres-data:/var/lib/postgresql/data

  app:
    build: .
    depends_on:
      - redis
      - postgres
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/xrcrawler
      - PORT=5001
      - PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
    volumes:
      - ./data:/app/data
      - ./data/output:/app/output
      - ./data/cookies:/app/cookies
    ports:
      - "5001:5001"
    restart: unless-stopped

  worker:
    build: .
    depends_on:
      - redis
      - postgres
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/xrcrawler
      - PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
    volumes:
      - ./data:/app/data
      - ./data/output:/app/output
      - ./data/cookies:/app/cookies
    command: [ "node", "dist/cmd/start-worker.js" ]
    restart: unless-stopped

  studio:
    build: .
    restart: unless-stopped
    ports:
      - "5555:5555"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/xrcrawler
    command: ["npx", "prisma", "studio", "--port", "5555", "--browser", "none"]
    depends_on:
      - postgres

volumes:
  redis-data:
  postgres-data:
